.block {
   width: var(--cell-size);
   height: var(--cell-size);
   border: 1px solid black;
}

.block.whiteBlock {
   background-color: var(--primary-color);
}

.block.blackBlock {
   background-color: var(--secondary-color);
}

.block.isSelected {
   background-color: rgb(151, 175, 175);
}

.block.isMovable {
   background-color: rgb(212, 238, 238);
}
